@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}

.text-overlay-bg-image {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7511379551820728) 0%,
        rgba(157, 253, 45, 0) 100%
    );
}

.ml-screen {
    margin-left: calc(-10% - 56px);
}

svg.star-svg {
    display: inline;
}
